body{
    background-color: rgb(174, 210, 211);
}
h1{
    color: rgb(12, 88, 231);
    text-align: center;
    text-decoration: underline gray;
}
h2{
    text-align: center;
    color: rgb(54, 54, 54);
}
p{
    text-align: center;
    color: dimgrey;
}
em{
    color: green;
    
}
code{
    color: rgb(0, 68, 255);
}
abbr{
    text-decoration: none;
    color: darkolivegreen
}